/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: rgb(253, 253, 253);
}
#root {
  background-color:  #0e1212;
}

.logo {
  width: 100px;
  height: auto;
}
.container {
    height: 100vh;
}

h2, b {
  color: #99c8ff;
  margin-bottom: 1em;
}
p {
  color:#ffffff;
  font-weight: 300;
}
/* html {
  font-size: 16px;
} */