/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto Mono', monospace;
  color: rgb(253, 253, 253);
  
}
html {
  background-color:  #0e1212;
}


/* 

.logo {
  opacity: 0.3;
}


LOGO BIG SIZE */


.logo img {
  height: 80px;
  width: auto;
} 


.container {
    height: 100vh;
}

h2, b {
  color: #99c8ff;
  margin-bottom: 1em;
}
p {
  color:#ffffff;
  font-weight: 300;
}
/* html {
  font-size: 16px;
} */

.hamburger-react {
  float: right;

}
@media screen and (min-width: 450px) {
  .hamburger-react {
    display: none;
  }

}
@media screen and (max-width: 450px) {

  .main-nav {
    display: none;
  }

}




