/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto Mono', monospace;
  color: rgb(253, 253, 253);
  
}
html {
  background-color:  #0e1212;
}



/* test anima form */


input:focus,textarea:focus {
  /* outline: none !important; */
  border:3px solid #99c8ff;
  transition: 0.2s ease all;
  /* box-shadow: 0 0 10px #99c8ff; */
}


/* 

.logo {
  opacity: 0.3;
}


LOGO BIG SIZE */


.logo img {
  height: 80px;
  width: auto;
} 

.works {
  margin-bottom: 1rem;
}
/* .container {
    height: 100vh;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
} */

h2 {
  color: #99c8ff;
  margin-bottom: 1em;

}
h3, .nav-overlay, .form-lab {
  font-weight: 600;
  color: #99c8ff;
  
}
.bg-btn {
  background-color: #99c8ff;
}
.form-input {
  font-weight: 400;
  color: black;
  
}
p {
  color:#ffffff;
  font-weight: 300;
}
/* html {
  font-size: 16px;
} */

.hamburger-react {
  float: right;

}
/* .particles {
  height: 100vh;
} */

canvas.tsparticles-canvas-el {
  position: absolute;
  z-index: -25;
}
.bg {
  height: 100vh;
}
.project-h {
  height: 300px;
}
.git, .linkdn {

  width: 75px;
  height: 75px;
}

.window  {
  border:2px solid whitesmoke;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
}
@media screen and (min-width: 584px) {
  .hamburger-react {
    display: none;
  }

}
@media screen and (max-width: 584px) {

  .main-nav {
    display: none;
  }

}

li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
b {
  color: #99c8ff;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 15px;

}
b:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
b:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (max-width: 1024px) {

  /* .two-windows {
    display: flex;
    flex-direction: column;
  } */

}